* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans",Arial;
}
body{
    
}
#main {
    background: url(./img/blockchain-services-for-fintech-1920x800\ \(2\).png);
    height: 800px;
}

#header {
    max-width: 1200px;
  display: flex;
  padding: 20px 0;
  height: 94px;
  justify-content: center;
}

.header-nav {
  display: flex;
}

.nav-chill {
}

.navnav {
  padding: 20px 16px;
  list-style-type: none;
  font-size: 18px;
}

.abc {
  display: none; 
  color: #fff;
  text-decoration: none;
}

.chill {
  text-decoration: none;
  color: #fff;
  text-align: right;
}

.fal {
  color: #3cd5af;
  font-size: 23px;
  right: 40px;
  padding-right: 10px;
  padding: 6px 11px 8px 1px;
}

.search {
  display: flex;
  padding: 10px 1px;
}

.search-btn {
  text-decoration: none;
  padding: 6px 11px;
  background-color: #3cd5af;
  color: #fff;
  height: 35px;
  border: 2px solid #3cd5af;
}

.search-content{
    padding-left: 20px;
}

.search-eng{
    list-style-type: none;
    color: aliceblue;
}

.header-nav{
    padding: 0px 20px;
}

.color{
    color: rgba(255,255,255,0.43);
}

.h1{
    color: #fff;
    padding: 183px 0 30px 14px;
    font-size: 44px;
    max-width: 616px;
    font-family: "Play",Arial;
    

}
.artitle{
    color: #fff;
    padding: 0px 0px 0px 21px;
    font-size: 13px;
    max-width: 582px;
    line-height: 22px;
    font-family: "Open Sans",Arial;
}

.call{
     padding: 0px 0px 0px 15px;
}

.btn-lear{
    padding: 11px 23px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    line-height: 150px;
    background-color: #3cd5af;
}

.head-sect{
    color: #3cd5af;
    font-size: 22px;
    padding-left: 15px;
    float: right;
    padding-right: 550px;

}
.trusted-section{
    width: 100%;
    padding: 50px;
}

.lazy{
    
     margin-left: 100px; 
}

.lazy-loaded{
    margin: -30px 50px;

}
.slick-list{
    display: flex;
    justify-content: space-between;
    padding: 26px
}

.container-clear{
    font-size: 42px;
    font-family: "Play",Arial;
    display: block;
}

.container{
    padding: 0px 42px 20px 15px;
    display: flex;
    flex-wrap: wrap;
    
}   

.clear{
    width: 670px;
    margin-left: 70px;
}

.model-structure-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.model-structure-list__item{
    width: 347px;
    height: 253px;
    text-align: center;
}

.h1-model{
    font-size: 17px;
}
.section-get-in-touch{
    width: 100%;
    padding: 30px 50px;
    font-size: 19px;
    background-color: #3cd5af;
    text-decoration: none;
    color: #fff;
     display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 80px;
}
.section{
    text-decoration: none;
    color: #fff;

}
.col-md{
  text-decoration: none;

}
.col-md{
   border: 2px solid #fff;
   padding: 11px 23px;
   color: #fff;

}
.tech-expertise-section{
    margin: 30px 45px 30px;
    font-size: 21px;
}
.model-structure-list__item{
  border: 1px solid #ccc;

}
.slider-table{
  width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 10px 0 70px 10px;
}
.slider-image{
  width: 25%;
  margin-bottom: 10px;
}
#slider{
  display: flex;
  margin-left: 30px;
}
.slider-touch{
  font-size: 18px;
  padding-bottom: 10px;
}
.slider-heading{
  font-size: 14px;
  line-height: 22px;
}
.h2{
  padding: 120px 0 30px 41px
}

.h2-img{
  width: 116px;
  margin-left: 50px;
}
.software{
  padding: 60px 0px 50px 32px;
  font-family: "Open Sans",Arial;
  
}
.software-section{
  padding-top: 30px;
}
.software-info-item{
  padding-top: 20px;
  font-size: 14px;
    width: 455px;
    margin-bottom: 1.2em;
}
.software-info-boder{
  font-size: 14px;
  width: 455px;
}

hr{
  max-width: 30%;
    margin-left: 0;
    margin-bottom: 17px;
    border: none;
    color: #45daba;
    background-color: #45daba;
    height: 1px;
    
}
.software-info-description{
     margin-left: 550px;
     font-size: 18px; 
     display: flex; 
}

.software-child{
  display: flex;
  line-height: 22px;
}

.software-child-nav{
  margin-left: 30px;
}